@(db: String, collections: Map[String, Int])(implicit flash: play.api.mvc.Flash)

@admin.layout() {
  <div class="section">
    <h3>@db datastore</h3>
    <h5>@collections.size collections</h5>
  </div>
  <div class="section">
    <a href="@routes.Datastore.wipe(db)">Wipe</a><br/>

    @if(db == "osm") {
      @for(gt <- maptower.game.GameTypeHelper.types.values) { 
        <a href="@routes.Datastore.loadOsm(gt.code)">Load @gt.name</a><br/>
      }
    }

    @if(db == "map") {
      <a href="@routes.Datastore.convertOsm()">Convert from OSM data</a><br/>
    }

    @if(db == "game") {
      <a href="@routes.Datastore.seed()">Load Seed Data</a><br/>
    }
  </div>
}