@()(content: Html)(implicit flash: play.api.mvc.Flash)

@flashScope() = {
  @flash.get("success").map { message =>
    <div class="alert alert-success" style="margin-top:20px;">
      <a class="close" data-dismiss="alert">x</a>
      <strong>Done!</strong><br/>
      @message
    </div>
  }
}

@main("Administration") {
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3">
        <div class="section">
          <a href="@routes.HomePage.index()">Home</a><br/>
          <a href="@routes.Admin.index()">Dashboard</a><br/>
          <a href="@routes.Admin.logs()">Logs</a><br/>
        </div>

        <div class="section">
          <a href='@routes.Datastore.rebuild("eugene")'>Rebuild Eugene</a><br/>
          <a href='@routes.Datastore.rebuild("atlanta")'>Rebuild Atlanta</a><br/>
        </div>

        @defining(List("map", "osm", "game", "tile")) { dbs =>
            @for(db <- dbs) { 
                <div class="section">
                    <h3><a href="@routes.Datastore.index(db.toLowerCase())">@db</a></h3>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Rows</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for(collection <- maptower.data.getDao(db toLowerCase).getInfo) {
                                <tr>
                                    <td><a href='@routes.Datastore.query("find", db toLowerCase, collection._1, "{}")'>@collection._1</a></td>
                                    <td>@collection._2</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }
        }
    </div>
    <div class="span9">
        @flashScope()
        @content
    </div>
  </div>
</div>
}