@import "bootstrap";

html, body {
  height: 100%;
}

#map {
  height: 100%;
  width: 100%;
}

.panel {
  border: solid 2px grey;
  border-radius:10px;
  background-color:white;
  padding:20px;
}

#info-panel {
  position: absolute;
  top: 20px;
  right: 20px;
}

#debug-panel {
  position: absolute;
  top: 20px;
  right: 20px;
}

.section {
  background-color: #fff;
  border:1px solid #ccc;
  border-radius: 6px;
  margin:20px 0;
  padding:10px;
}

