@(article: com.gravity.goose.Article)
@defining(new java.util.Random().nextInt(4)+3) { idx =>
  <li class="article span@idx">
    <div class="thumbnail">
      <img src="@article.topImage.imageSrc" style="width:@{idx * 100 - 40}px;height:180px;" />
      <a href="@article.canonicalLink"><h5 style="height:18px;overflow:hidden;">@article.title</h5></a>
      <p class="text">@article.cleanedArticleText</p>
      <div class="tags">@if(article.tags.size > 0){@article.tags.reduceLeft(_ + ", " + _)}else{no tags}</div>
    </div>
  </li>
}