@(gameType:maptower.game.GameType, username: String)(implicit request: RequestHeader)

@import com.codahale.jerkson.Json._

@headerContent() = {
  <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/leaflet.css")">
  <script src="@routes.Assets.at("javascripts/leaflet.js")" type="text/javascript"></script>

  <script type="text/javascript">
    window.gameType = @Html(generate(gameType));
    window.gameType.websocketUrl = "@routes.Gameplay.events(gameType.code, username).webSocketURL()";
  </script>

  <script data-main="@routes.Assets.at("javascripts/MapTower")" src="@routes.Assets.at("javascripts/require-jquery.js")" type="text/javascript"></script>
}

@main("MapTower Test", headerContent) {
  <div id="map"></div>
  <div class="panel" id="info-panel">
    <h3>@gameType.name</h3>
    $<span class="currencyAmount">0</span><br/>
    ...
  </div>
  <div class="panel" id="actions-panel">
      <button class="btn" name="map" value="zoom-in" title="Zoom In">+</button>
      <button class="btn" name="map" value="zoom-out" title="Zoom Out">-</button>
      <button class="btn" name="help" value="general" title="Help">?</button>
  </div>
  <div class="panel" id="debug-panel">
    <h4>Debug Actions</h4>
    <div>
      <button class="btn" name="debug" value="random" title="Who knows? Click it and find out!">Random</button>
      <button class="btn" name="debug" value="clear" title="Clears the map of, well, everything.">Clear Map</button>
      <button class="btn" name="debug" value="reload" title="Reload">Reload</button>
    </div>
  </div>
  <div class="panel" id="log-panel">
    <div id="messages">
    </div>
    <input id="talk" />
  </div>
  <div class="panel" id="options-panel">
    <h4>Theme</h4>
    <div class="theme controls">
      <label class="radio">
        <input type="radio" name="theme" value="standard" checked="checked">
        Standard
      </label>
      <label class="radio">
        <input type="radio" name="theme" value="dark">
        Dark
      </label>
      <label class="radio">
        <input type="radio" name="theme" value="sat">
        Satellite
      </label>
    </div>
    <h4>Options</h4>
    <div>
      <div class="options controls">
        <label class="checkbox">
          <input type="checkbox" name="draw-node" checked="checked">
          Draw Nodes
        </label>
        <label class="checkbox">
          <input type="checkbox" name="draw-way" checked="checked">
          Draw Ways
        </label>
        <label class="checkbox">
          <input type="checkbox" name="draw-bg" checked="checked">
          Draw Tiles
        </label>
      </div>
    </div>
  </div>
}
