@(message: String)

@main("MapTower!") {
    <div class="container">
        <div class="span12" style="padding:20px;">
            <p>@message</p>
        
            <p>
                @defining(Map("atlanta" -> "Atlanta, GA", "eugene" -> "Eugene, OR")) { gameTypes =>
                    @for((code, name) <- gameTypes) { 
                        <a href="@routes.Game.index(code)">@name</a><br/>
                    }
                }
            </p>
        
            <p>
                <a href="@routes.Newsletter.index()">Newsletter Test</a><br/>
            </p>
            <p>
                <a href="@routes.Admin.index()">Administration</a><br/>
            </p>
        </div>
    </div>
}