@()

@headerContent() = {
    <style type="text/css">
      body { padding-top: 60px; padding-bottom: 40px; }
      #editor, #working { display:none; }
      .article .tags {color:grey;text-align:right;text-transform:lowercase;font-size:90%;height:12px;overflow:hidden;}
      .article .text {height:57px;overflow:hidden;}
      #no-articles {color:grey; text-align:center; padding-top:10px;}
      #url, #rss {width:350px;}
    </style>
    <script>
      function start() {
        $('#chosenname').val($('#startingname').val())
        $('#stinger, #editor').toggle()
      }

      function add(t, u) {
          if(t === "rss") {
            alert("Sorry, not quite yet...")
            return;
          }
          $("#working").show()
          $.get('/newsletter/add', {contentType:t, url: u}, addCallback, "html")
      }
      
      function addCallback(rsp) {
          $("#working").hide()
          $("#no-articles").hide()
          $("#articles").append(rsp)   
      }

      $(function() {$("#startingname").focus()})
    </script>
}

@main("Newsletter Test", headerContent) {
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="#">NEWZLETTERZ EXTREME!</a>
      <div class="nav-collapse">
        <ul class="nav">
          <li class="active"><a href="">Make One!</a></li>
          <li><a href="/admin">Admin</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="mailto:kyle@@provingground.net">Contact Kyle, Who Is Awesome</a></li>
        </ul>
      </div><!--/.nav-collapse -->
      <form class="navbar-search pull-right">
        <input type="text" class="search-query" placeholder="Search for topics and stuff">
      </form>
    </div>
  </div>
</div>
<div class="container">
  <div class="hero-unit" id="stinger">
    <h1>Let's make a freakin' newsletter!</h1>
    <p>This is a boring proof-of-concept. But it could be cool. Someday.</p>
    <div style="margin:auto;padding-top:20px;">
      <form onsubmit="start();return false;">
        <input type="text" id="startingname" placeholder="What's the name of this thing?">
        <input type="submit" class="btn btn-primary" style="margin-left:20px;" value="Let's do this &raquo;" />
      </form>
    </div>
  </div>
  <div id="editor">
    <form class="well">
      <input type="text" id="chosenname" class="span10" placeholder="Newsletter Name" style="font-size:30px;height:40px;line-height:35px;">
      <textarea class="span10" placeholder="Description" style=""></textarea>
    </form>
    <div class="row" id="options">
      <div class="span4">
          <h3>Add a cool web page</h3>
          <p>Punch in one of those long http thingys, and we'll feature it in your newsletter.</p>
          <form onsubmit="add('url', $('#url').val());return false;">
            <p><input type="text" id="url" placeholder="Article url"></p>
            <p>
              <input type="submit" class="btn btn-info" value="Add this thing to my thing &raquo;" />
              <span class="label label-warning" id="working">Working...</span>
            </p>
          </form>
      </div>
      <div class="span4">
          <h3>Add suggested content</h3>
          <p>We've hand-selected these sites because you seem like you would enjoy this sort of thing.</p>
          <p style="line-height:36px;">
              <a class="btn" target="_blank" href="http://wired.com">Wired</a>
              <a class="btn" target="_blank" href="http://techcrunch.com">TechCrunch</a>
              <a class="btn" target="_blank" href="http://online.wsj.com">WSJ</a>
              <a class="btn" target="_blank" href="http://sports.espn.go.com">ESPN</a>
              <a class="btn" target="_blank" href="http://gizmodo.com">Gizmodo</a>
              <a class="btn" target="_blank" href="http://www.boingboing.net">BoingBoing</a>
              <a class="btn" target="_blank" href="http://social.venturebeat.com">VentureBeat</a>
              <a class="btn" target="_blank" href="http://www.cracked.com">Cracked</a>
              <a class="btn" target="_blank" href="http://guardian.co.uk">Guardian</a>
          </p>
      </div>
      <div class="span4">
          <h3>Add an RSS feed</h3>
          <p>What's an RSS feed? Seriously? Everyone knows what those things do. Hit Wikipedia, Grandpa.</p>
          <form onsubmit="add('rss', $('#rss').val());return false;">
            <p><input type="text" id="rss" placeholder="RSS feed url"></p>
            <p><input type="submit" class="btn btn-info" value="Add this thing to my thing &raquo;" /></p>
          </form>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="span12">
        <div id="no-articles">No articles available. Add one by pasting a url.</div>
        <ul class="thumbnails" id="articles">
        </ul>
      </div>
    </div>
  </div>
</div>
}